body {
    width: 100%;
    height: 100%;
    min-width: 1120px;
    font-family: "ü‡ÉSÉVÉbÉNëÃ", "Yu Gothic", YuGothic, "ÉqÉâÉMÉmäpÉS Pro", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", "Meiryo", sans-serif;
    color: #7d7d7d;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 2.0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

html {
    font-size: 10px;
}

.body {
    line-height: 1;
}

.main {
    padding: 65px 0 70px;
    margin: 0 50px;
}

.title {
    margin: 0 auto 40px;
    color: #7d7d7d;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.12em;
}

.inner {
    width: 980px;
    padding: 0;
    margin: 0 auto;
}

.label {
    display: block;
    position: relative;
    float: left;
    font-size: 15px;
    width: 36%;
    font-weight: bold;
    padding-top: 10px;
}

.input-area {
    padding-top: 50px;
}

.input {
    display: block;
    width: 100%;
    color: #555555;
    font-size: 2rem;
    border: solid 4px #4c9fd3;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    font-family: inherit;
    font-size: 15px;
}

.textarea {
    display: block;
    width: 100%;
    color: #555555;
    font-size: 2rem;
    border: solid 4px #4c9fd3;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
}

.column {
    margin: 40px 0 0;
}

.button {
    color: #7d7d7d;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-weight: bold;
    padding: 0;
    background-color: #c5d700;
    border-style: none;
    border-radius: 28px;
}


.button-form {
    margin: 80px auto 0;
}
